---
production:
  adapter: {{osem_database_adapter}}
  host: {{osem_database_host}}
  port: {{osem_database_port}}
  pool: {{osem_database_pool}}
  encoding: {{osem_database_encoding}}
  database: {{osem_database_name}}
  username: {{osem_database_username}}
  password: {{osem_database_password}}
